@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;500&display=swap');
*{
    font-family: Montserrat;
}

:root
{
    --font-color : #111 ; 
    --bg-color : #fff ;
    --bg-image : url("StuGrad.jpg")

}

body
{
    margin: 0;
    padding: 0;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.522), rgba(0, 0, 0, 0.522)), var(--bg-image);
    background-repeat: no-repeat;

    width : 100vw;
    height: 100vh;
    border: 0;
    position: relative;
    overflow-x: hidden;


}


input
{
    outline: none;
}
button
{
    border-radius: 20px;
    padding: 10 20;
}
#iCon
{
    background-image: url("OmegaDeveloprs_.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 20;
    width: 42px;
    height: 42px;
}
header
{
    background: #111;
    color: #fff;
    height: 4rem;

    margin: 0;
    display: flex;
    padding: 0 1%;
    align-items: center;
    font-size: 1.5em;
}

main
{
    width: 40%;
    background: var(--bg-color);
    padding: 1.5%;
    padding-bottom: 5%;
    margin: 40 auto;
    border-radius: 1em;
}


#int-user h4.greetings
{
    margin: 0;
    padding: 0;
}

@media only screen and (max-width:400px)
{
    body
    {
        background: none;
    }
    main
    {
        width: 96% ;
        max-width: 80vh;
        border-radius: 1%;
        margin: 5 auto;
    }
}




#usr-input
{
    padding: 10 0;
}

#usr-input button
{
    margin: 10;
}


.description
{
    margin: 0;
}

.colorize
{
    color: rgb(216, 29, 67);
    font-weight: bold;
}
#btn-options
{
    margin: 10;

}

button
{
    outline: none;
    border: none;
    background-color: rgb(216, 29, 67);
    color: #fff;
    cursor: pointer;

}



#space
{
    display: block;
    justify-content: space-around;
}

select
{
    outline: none;
    border: none;
    width: min-content;
    font-size: 14px;
    margin: 3px auto;
    border-radius: 5px;
    border: 1px solid rgba(119, 150, 118, 0.548);

}
#paper{
    width: 200px;
}


.foot
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #111;
    color: #fff;
    border: 0;
    font-size: x-small;
    height: 24;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

#con-space
{
    display: none;
}
#btn-options
{
    display: none;
}

#result
{
    display: none;
    height: 60px;
    width: 80%;
    background: #000;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Source Code Pro', monospace;

    justify-content: center;
    align-items: center;
    font-weight: 300;

}
.con-label
{
    color: #fff;
    text-align: center;
    font-family: 'Source Code Pro', monospace;

}
.con-label .colorize
{
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    color: rgb(216, 27, 52);

}
#gradPoint
{
    color: rgb(216, 27, 52);
    font-family: 'Source Code Pro', monospace;
}
